<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
    <display-name>StudentRecordSystem</display-name>
    
    <!-- Welcome files -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Add Student Servlet -->
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>com.student.servlet.AddStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet</url-pattern>
    </servlet-mapping>

    <!-- View Students Servlet -->
    <servlet>
        <servlet-name>ViewStudentsServlet</servlet-name>
        <servlet-class>com.student.servlet.ViewStudentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewStudentsServlet</servlet-name>
        <url-pattern>/ViewStudentsServlet</url-pattern>
    </servlet-mapping>

    <!-- Edit Student Servlet -->
    <servlet>
        <servlet-name>EditStudentServlet</servlet-name>
        <servlet-class>com.student.servlet.EditStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditStudentServlet</servlet-name>
        <url-pattern>/EditStudentServlet</url-pattern>
    </servlet-mapping>

    <!-- Delete Student Servlet -->
    <servlet>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>com.student.servlet.DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/DeleteStudentServlet</url-pattern>
    </servlet-mapping>
   </session-config>
</web-app>
